/* src/components/Layout.css */
.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: white;
  }
  
.layout-navbar {
  display: flex;
}


.layout-main {
  width: 100%;
  height: 100%;
  }

.layout-header {
  display: flex;
  flex-direction: row;
  background: rgba(128, 0, 255, 0.7);
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  }

.layout-content {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box; 
  height: 100%;
    
}
