.generate-btn {
    padding: 0.25rem 0.75rem;
    background-color: white;
    color: #333;
    border: 1px solid #cccccca0;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
.generate-btn img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
.generate-btn:hover {
    background-color: #ccccccb8;
  }